
/*Structure / Layout*/

body {
  background: #585c68;
  font-size: 14px;
  line-height: 22px;
  color: #555555;

}

.bold {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}



.resume {
  display: flex;
  width: 850px;
  height: auto;
  display: flex;
  margin: 50px auto;
}

.title {
  margin-bottom: 20px;
}       

/* Header + Footer */ 
      header {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1,1fr;
        letter-spacing: .2rem;

      }

      header ul {
        display: flex;
        justify-content: space-around;
        font-size: 2.5vh;
        color: #b1eaff;
        align-items: center;

      }

      header, footer {
        background-color: #b1eaff;
       
      }



/*START LEFT SIDE*/

/*Style / Fonts / Margin*/
.resume_left  { 
  background-color: #555555
}   

.resume_left ul li {
  margin-bottom: 10px;
}

.resume_left .bold {
  color: #fff;
}

.resume_left .regular {
  color: #b1eaff;
}

.resume_left .data {   
  color: #b1eaff;
}

/*Photo*/
.resume_profile {
  width: 100%;
  height: 250px;
}

.resume_profile img {
  width: 100%;
  height: 100%;
}



/*Final Touch + de style*/
.resume_content {
  padding: 0 25px;
}

.resume_item {
  padding: 25px 0;
  border-bottom: 2px solid #b1eaff;
}





/*Skills*/

.resume_skills ul li {
  display: flex;
  margin-bottom: 10px;
  color: #b1eaff;
  align-items: center;
}

.skill_name {
  width: 25%;
}

.skill_progress {
  width: 60%;
  margin: 0 5px;
  height: 5px;
  background: #009fd9;
  position: relative;
}

.skill_per {
  width: 15%;
}

.skill_progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #fff;
}





/*Start Right Side*/

.resume_right  {
  background-color: #fff;
}

.resume_right {
  padding: 25px;
}

.resume_right .bold {
  color: #0bb5f4;
}

.resume_right .resume_work ul,
.resume_right .resume_education ul {
  padding-left: 40px;
  
}

.date {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}

.info {
  margin-bottom: 2px;
}

.resume_right ul li:last-child .info {
  margin-bottom: 30;
}




 /*Travaux*/ 
   .wrapper {
        display: grid;
        grid-template-columns: repeat(2r; 1fr);
        grid-template-rows: repeat(5,20vh);
      }


      .box {
      color: black; 
      border: solid white 5px; 
    }


      .a {
          grid-column: 1/5;
          grid-row: 1/2;
          background-color: lightblue;
      }
    
      .b {
          grid-column: 5/10;
          grid-row: 1/3;
          background-color: lightgrey

      }

      .c {
          grid-column: 1/5;
          grid-row: 2/5;
          background-color: lightgrey

      }

      .d {
          grid-column: 5/9;
          grid-row: 3/8;
          background-color: lightblue;


